// Here you can add other styles

// Imported AJW Group Branding Fonts
@import "public/fonts/museo-sans.scss";

body {
  font-family: "Museo Sans", sans-serif;
}
.main .container-fluid {
  padding: 0 6px; //reduced padding from 30px to 6px
}
// inserted for primereact/dialog styling
.p-dialog .p-dialog-content {
  overflow: unset;
}
// .dashboard-box inserted for dashboard main summary
.dashboard-box {
  min-height: 160px;
  margin-bottom: 2 * $card-spacer-y;
  text-align: center;
  background: #fff;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  i {
    display: block;
    margin: -1px -1px 0;
    font-size: 40px;
    line-height: 90px;
    background: $gray-200;

    @include border-radius($card-border-radius $card-border-radius 0 0);
  }

  .chart-wrapper {
    height: 90px;
    margin: -90px 0 0;

    canvas {
      width: 100% !important;
      height: 90px !important;
    }
  }

  ul {
    padding: 10px 0;
    list-style: none;
    margin-top: 10px !important;

    li {
      display: block;
      float: left;
      width: 33%;

      &:first-child {
        border-right: 1px solid $border-color;
      }

      &:nth-child(2) {
        border-right: 1px solid $border-color;
      }

      strong {
        display: block;
        font-size: 16px;
      }

      span {
        font-size: 10px;
        font-weight: 500;
        color: $border-color;
        text-transform: uppercase;
      }
      &:hover, &.active {
        color: $ajw-pri-purple-600;
        background: transparent;
        cursor: pointer;
      }
    }
  }
  
  &.orders {
    i {
      color: #fff;
      background: $ajw-pri-purple-600;
    }
  }

  &.contracts {
    i {
      color: #fff;
      background: $ajw-pri-grey-600;
    }
  }

  &.repairs {
    i {
      color: #fff;
      background: $ajw-pri-purple-600;
    }
  }
}

// PBH Orders Form
.form-header {
  background: #e3f2fd;
  padding: '2px 2px 2px';
  &.parts {
    h1, h2, h3, h4, h5, h6 {
      margin: 0px 0px 5px;
      padding: 5px;
    }
  }

  &.ship {
    h1, h2, h3, h4, h5, h6 {
      margin: 0px 0px 5px;
      padding: 5px;
    }
  }
}

.icon {
  box-sizing: border-box;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  height: 1em;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;
  width: 1em;
}
.icon::before, .icon::after {
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon.icon-2x {
  font-size: 1.6rem;
}
.icon.icon-3x {
  font-size: 2.4rem;
}
.icon.icon-4x {
  font-size: 3.2rem;
}

.icon-check::before {
  border: 0.1rem solid currentColor;
  border-right: 0;
  border-top: 0;
  height: 0.5em;
  width: 0.9em;
  transform: translate(-50%, -75%) rotate(-45deg);
}

.brand-color{
  color: #7770b3;
}

.hidden{
  display:none;
}

.icon-cross::before {
  background: currentColor;
  height: 0.1rem;
  width: 100%;
}

.icon-cross::after {
  background: currentColor;
  height: 100%;
  width: 0.1rem;
}

.icon-cross::before {
  width: 100%;
}
.icon-cross::after {
  height: 100%;
}
.icon-cross::before, .icon-cross::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.icon-message {
  border: 0.1rem solid currentColor;
  border-bottom: 0;
  border-radius: 0.1rem;
  border-right: 0;
}
.icon-message::before {
  border: 0.1rem solid currentColor;
  border-bottom-right-radius: 0.1rem;
  border-left: 0;
  border-top: 0;
  height: 0.8em;
  left: 65%;
  top: 40%;
  width: 0.7em;
}
.icon-message::after {
  background: currentColor;
  border-radius: 0.1rem;
  height: 0.3em;
  left: 10%;
  top: 100%;
  transform: translate(0, -90%) rotate(45deg);
  width: 0.1rem;
}

.icon-location::before {
  border: 0.1rem solid currentColor;
  border-radius: 50% 50% 50% 0;
  height: 0.8em;
  transform: translate(-50%, -60%) rotate(-45deg);
  width: 0.8em;
}
.icon-location::after {
  border: 0.1rem solid currentColor;
  border-radius: 50%;
  height: 0.2em;
  transform: translate(-50%, -80%);
  width: 0.2em;
}